*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
**/test/
**/androidTest/
/back-end/node_modules
/back-end/config
/back-end/uploads
/back-end/eino-275710-13520d32986b.json
